<% layout('layout/boilerplate') %>

      <% for(let t of text.reverse()){ %>
              
      <h4><a href="/text/<%=t.id %>"><%-t.title %></a></h4>
      <div><%- t.text %>
    <img
          src="<%= t.file %> "
          alt="hassan"
          width="100%"
          style="border-radius: 5px"
        />
              <p class="mt-1" style="font-size: 20px">
        Written By:
        <a href="/users/<%=t.author.id %> "><%=t.author.name %> </a>
          </p>
            <h2> <a href="/confirmtext/<%= t.id %>">Confirm text</a></h2>
      <% } %> 
      
     
      
    </div>

   
