<% layout('layout/boilerplate') %> 

<div class="container">
  <div class="row mt-3 d-flex justify-content-center">
   
   <div class="col-lg-6">
      <div class="pl-0">
        <h4 class="text-primary pl-0 pr-2 py-1">Edit your school information</h4>
      </div>
  <form action="/news/<%=school._id %>?_method=PUT " method="POST" enctype="multipart/form-data">
    
      <div class="row">
          <div class="col-lg-6">
            <label for="schoolsname">Schoolsname</label>
          </div>
          <div class="col-lg-6">
            <input
              class="form-control"
              style="height: 30px"
              type="text"
              name="schoolsname"
              id="schoolsname"
              value="<%=school.schoolsname %> "
            />
          </div>
        </div>

        <div class="row rounded" style="background: rgb(244, 240, 252)">
          <div class="col-lg-6">
            <label class="form-label" for="gender">Gender of students</label>
          </div>
          <div class="col-lg-6">
            <select
              name="gender"
              id="gender"
              class="pb-1 pt-0 form-control"
              style="height: 30px"
            >
              <option> <%=school.gender%></option>
              <option value="boys">Boys</option>
              <option value="girls">Girlsr</option>
              <option value="mixed">Mixed</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <label for="numberOfStudents">Number of Students</label>
          </div>
          <div class="col-lg-6">
            <input
              class="form-control"
              style="height: 30px"
              type="number"
              name="numberOfStudents"
              id="numberOfStudents"
              value="<%=school.numberOfStudents%>"
            />
          </div>
        </div>

        <div class="row" style="background: rgb(244, 240, 252)">
          <div class="col-lg-6">
            <label for="averageMonthlyIncomPerPerson"
              >Average Students Age</label
            >
          </div>
          <div class="col-lg-6">
            <input
              class="form-control"
              style="height: 30px"
              type="number"
              name="averagAge"
              id="averagAge"
              value="<%=school.averagAge%>"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <label for="eMail">Email</label>
          </div>
          <div class="col-lg-6">
            <input
              class="form-control"
              style="height: 30px"
              type="email"
              name="eMail"
              id="eMail"
              value="<%=school.eMail%>"
            />
          </div>
        </div>

        <div class="row" style="background: rgb(244, 240, 252)">
          <div class="col-lg-6">
            <label for="averageMonthlyIncomPerPerson"
              >Average Parents Income</label
            >
          </div>
          <div class="col-lg-6">
            <input
              class="form-control"
              style="height: 30px"
              type="number"
              name="averageMonthlyIncomPerPerson"
              id="averageMonthlyIncomPerPerson"
              value="<%=school.averageMonthlyIncomPerPerson%>"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <label for="location">Location</label>
          </div>
          <div class="col-lg-6">
            <input
              class="form-control"
              style="height: 30px"
              type="text"
              name="location"
              id="location"
              value="<%=school.location%>"
            />
          </div>
        </div>

        <div class="row" style="background: rgb(244, 240, 252)">
          <div class="col-lg-6">
            <label for="provience">Provience</label>
          </div>
          <div class="col-lg-6">
            <input
              class="form-control"
              style="height: 30px"
              type="text"
              name="provience"
              id="provience"
            />
          </div>
        </div>

         <div class="row">
          <div class="col-lg-6">
            <label for="city">City</label>
          </div>
          <div class="col-lg-6">
            <input
              class="form-control"
              style="height: 30px"
              type="text"
              name="city"
              id="city"
            />
          </div>
        </div>
        <div class="row" style="background: rgb(244, 240, 252)">
          <div class="col-lg-6">
            <label for="district">District</label>
          </div>
          <div class="col-lg-6">
            <input
              class="form-control"
              style="height: 30px"
              type="text"
              name="district"
              id="district"
              value="<%=school.district%>"
            />
          </div>
        </div>
      
         <div class="row">
          <div class="col-lg-6">
            <label for="village">Village</label>
          </div>
          <div class="col-lg-6">
            <input
              class="form-control"
              style="height: 30px"
              type="text"
              name="village"
              id="village"
              value="<%=school.village%>"
            />
          </div>
        </div>

        <div class="row" style="background: rgb(244, 240, 252)">
          <div class="col-lg-6">
            <label for="Street">Street</label>
          </div>
          <div class="col-lg-6">
            <input
              class="form-control"
              style="height: 30px"
              type="text"
              name="Street"
              id="Street"
              value="<%=school.Street%>"
            />
          </div>
        </div>
         <div class="row">
          <div class="col-lg-6">
            <label for="line">Alley</label>
          </div>
          <div class="col-lg-6">
            <input
              class="form-control"
              style="height: 30px"
              type="text"
              name="line"
              id="line"
              value="<%=school.line%>"
            />
          </div>
        </div>
      <div class="row" style="background: rgb(244, 240, 252)">
          <div class="col-lg-6">
            <label for="number">Number</label>
          </div>
          <div class="col-lg-6">
            <input
              class="form-control"
              style="height: 30px"
              type="text"
              name="number"
              id="number"
              value="<%=school.number%>"
            />
          </div>
        </div>
      <div class="row">
          <div class="col-lg-6">
            <label for="postCode">post Code</label>
          </div>
          <div class="col-lg-6">
            <input
              class="form-control"
              style="height: 30px"
              type="text"
              name="postCode"
              id="postCode"
              value="<%=school.postCode%>"
            />
          </div>
        </div>
        <div class="row" style="background: rgb(244, 240, 252)">
          <div class="col-lg-6">
            <label for="mobileNumber">Mobile or Telephone Number</label>
          </div>
          <div class="col-lg-6">
            <input
              class="form-control"
              style="height: 30px"
              type="text"
              name="mobileNumber"
              id="mobileNumber"
              value="<%=school.mobileNumber%>"
            />
          </div>
        </div>
            <input type="file" name="image" id="image"  />
            <br><br>

        <button class="btn btn-primary" type="submit">Register Edit</button>
      </form>

    </div>
  </div>
</div>