<% layout('layout/boilerplate') %> 
<div class="row d-flex justify-content-center mt-2">
     <main class="card col-12 col-sm-12 col-md-10"; style="text-align:center">
      
          <h4><a href="/text/<%=text.id %>"><%-text.title %></a></h4>
          <p class="text-justify"><%- text.text %></p>

          <div class="rounded" $>
            <img src="<%= text.file %> " alt="hassan" width="100%" style="border-radius: 5px;"/>
          </div>
        
          <% if(currentUser && currentUser.id==text.author.id || currentUser &&currentUser.username == "admin@admin"){ %>
          <div class="d-flex justify-content-center mt-5">
            <div
              class="btn btn-sm btn-outline-success mr-2 py-0"
              style="text-decoration: none; height: 28px">
              <a style="text-decoration: none" href="/edittext/<%=text.id %>">Edit</a>
            </div>

       

               <form action="/deletetext/<%= text.id %> " method="get">
          <button class="btn btn-sm btn-outline-danger py-0" type="submit"
           style="text-decoration: none; height: 28px" >Delete Text </button>
          
        </form>
        
          </div>
          <hr>

          <% }else{ %>
          <p class="mt-1" style="font-size: 12px">
            Written By:
            <a href="/users/<%=text.author.id %> "><%=text.author.name %> </a>
            <% } %>
          </p>
       
        </main>
  </ma>
</div>