<% layout('layout/boilerplate') %> 
<div class="row d-flex justify-content-center mt-2">
      <div class="col-lg-8 px-3 border rounded blog-text pt-2">
      <h4 class="text-center text-justify"><%=text.title %></h4> 
      <p class="text-center text-justify"><%=text.text %> </p>
      <% if(currentUser.id==text.author.id){ %> 
          <div class="d-flex justify-content-center">
            <button class="btn btn-sm btn-outline-success mr-2 py-0" style="text-decoration: none; height: 28px"><a style="text-decoration: none;" href="/edittext/<%=text.id %>">Edit</a></button>
            <form action="/deletetext/<%= text.id %> "method="get">
              <button  class="btn btn-sm btn-outline-danger py-0" type="submit" style="text-decoration: none; height: 28px">ِDelete </button>
            </form> <br>
          </div>
        <% } else { %> <br>
                <p class="mt-1" style="font-size: 12px; text-align: center">Written By: <a href="/users/<%=text.author.id %> "><span><%=text.author.name %></span></a></p>
<% } %> <br>
    </div>
  </div>
</div>