<% layout('layout/boilerplate') %> 
<div class="d-flex justify-content-center">
<main class="card col-6"; style="text-align:center">

<br/><br/>


<h3>Welcome to Request Friendship Page</h3>
<form action="/friend/<%=id%> " method="POST">


 
    <input type="text" name="schoolId" id="schoolId" value="<%=id %>" style="display:none" >

    <h2>Your friendship reqest will be sent to this School</h2>

    <a href="/news/<%= school.id %>/<%=currentUser.id %>" > <h2><%=school.schoolsname%>  </a>

      <div style="display:none">
      <input type="text" name="friendshipRequestedsSchoolsName" id="friendshipRequestedsSchoolsName" value="<%=school.schoolsname%>">
<br/>
   
  <h3>The Id of user who send request</h3>
  <input type="text" name="friendrequesterid" id="friendrequesterid" value="<%=currentUser.id  %>" >


</div>

<br/><br/>

  <button type="submit" class="btn btn-success">Request Friendship</button>
</form>
</main>
</div>