<% layout('layout/boilerplate') %> 

<h3>Welcome to Request Friendship Page</h3>
<br/><br/>

<form action="/friend/<%=id%> " method="POST">

 <h3>The Id of school wich friendship request is sent to</h3>
 
    <input type="text" name="schoolId" id="schoolId" value="<%=id %>" >

    <h2>Your friendship reqest will be sent to this School</h2>

    <a href="/news/<%=id %>"> <h2><%=school.schoolsname%> </a>

      <input type="text" name="friendshipRequestedsSchoolsName" id="friendshipRequestedsSchoolsName" value="<%=school.schoolsname%>">
<br/>
   
  <h3>The Id of user who send request</h3>
  <input type="text" name="friendrequesterid" id="friendrequesterid" value="<%=currentUser.id  %>" >

<br/><br/>



  <button type="submit">Request Friendship</button>
</form>