<% layout('layout/boilerplate') %>

  <div class="d-flex justify-content-center">
    <Row class="row">
      <Col1 class="card col -4 d-flex justify-content-center text-center">
        <h1>hi</h1>
        </Col1>
<main class="card col-8"; style="text-align:center">
<Row class="row card col -4 d-flex justify-content-center text-center ">
<h5>اخبار روز <br>
   Dagens Nyhete  Daily Newsssss</h5>
</Row>
   <% for(let t of allText.reverse()){ %>
    <div class="row d-flex justify-content-center mt-2">
      <div class="col-lg-8 px-3 border rounded blog-text pt-2">
        <h4><a href="/textnotinlogd/<%=t.id %>"><%=t.title %></a></h4>
        <p class="text-center text-justify"><%=t.text.substring(1, 250) %></p>
        
        <p class="mt-1" style="font-size: 12px;">Written By: <a href="/users/<%=t.author.id %> "><%=t.author.name %> </a>
   
      </div>
      </div>
    <% } %>
</main>
         <Col3 class="card col -4 d-flex justify-content-center text-center">
        <h1>hi</h1>
        </Col3>

</Row>
</div>
 


