<% layout('layout/boilerplate') %>
      <!-- <h2><a href="/about">About us در باره ما Om oss</a></h2> -->
      <% for(let t of allText.reverse()){ %>
      <!-- there is problem here -->
      <% if(t.confirmed == "yes"){ %>
      <h4><a href="/text/<%=t.id %>"><%-t.title %></a></h4>
      <div><%- t.text %></div>
      <% if(t.file !="") {%>
      <div class="rounded" style="height: 400px; overflow: hidden">
        <img
          src="<%= t.file %> "
          alt="hassan"
          width="100%"
          style="border-radius: 5px"
        />
      </div>
      <p class="mt-1" style="font-size: 20px">
        Written By:
        <a href="/users/<%=t.author.id %> "><%=t.author.name %> </a>
      </p>
      <% } else { %>
      <div class="rounded" style="height: 2px; overflow: hidden"></div>
      <% } %> <% if(currentUser && currentUser.id==t.author.id || currentUser
      &&currentUser.username == "admin@admin"){ %>
      <div class="d-flex justify-content-center mt-5">
        <div
          class="btn btn-sm btn-outline-success mr-2 py-0"
          style="text-decoration: none; height: 28px"
        >
          <a style="text-decoration: none" href="/edittext/<%=t.id %>">Edit</a>
        </div>

        <form action="/deletetext/<%= t.id %> " method="get">
          <button
            class="btn btn-sm btn-outline-danger py-0"
            type="submit"
            style="text-decoration: none; height: 28px"
          >
            Delete Text
          </button>
        </form>
        <br />
      </div>
      <% if(currentUser.username == "admin@admin" && t.confirmed !="yes"){ %>
      <h2><a href="/confirmtext/<%= t.id %>">Confirm text</a></h2>

      <% } %>
      <hr />

       <% }else{ %> <% } %> <% } %> <% } %>

