 <% layout('layout/boilerplate') %> 
<div class="d-flex justify-content-center">
<main class="card col-8"; style="text-align:center">
 
<h1>Here you can reset your password</h1>

<form action="/resetpass/<%=tempid%>/<%=username%>?_method=PUT " method="POST"> 
  <label>Password</label>
  <input type="password" placeholder="Enter Password" name="password">
  <p style="color: red;"><%=(typeof errors!='undefined' && typeof errors.password!='undefined' )? errors.password.msg:''%></p>
  <!-- <label>Confirm Password</label>
  <input type="Password" placeholder="Enter Confirm Password" name="confirmPassword">
  <p style="color: red;"><%=(typeof errors!='undefined' && typeof errors.confirmPassword!='undefined' )? errors.confirmPassword.msg:''%></p>  -->
  <br>
  <input type="text" name="username" id="username" value="<%=username%>" style="display: none"> <br><br>
  <button type="submit">Submit</button>
</form>
</main>
</div>