<% layout('layout/boilerplate') %>
<div class="container">
  <div class="row mt-3">
    <div class="col-lg-6">
      <ul class="list-group">
        <li class="list-group-item py-1"> 
          <div class="row">
            <div class="col-6 text-primary">
              Schools name: 
            </div>
            <div class="col-6">
              <%= school.schoolsname %> 
            </div>
          </div>
        </li>
        <li class="list-group-item py-1"> 
          <div class="row">
            <div class="col-6 text-primary">
              Number Of students: 
            </div>
            <div class="col-6">
              <%= school.numberOfStudents %> 
            </div>
          </div>
        </li>
        <li class="list-group-item py-1"> 
          <div class="row">
            <div class="col-6 text-primary">
              Gender of students : 
            </div>
            <div class="col-6">
              <%= school.gender %> 
            </div>
          </div>
        </li>
         
        <li class="list-group-item py-1"> 
          <div class="row">
            <div class="col-6 text-primary">
              Number Of students: 
            </div>
            <div class="col-6">
              <%= school.numberOfStudents %> 
            </div>
          </div>
        </li>
        <li class="list-group-item py-1"> 
          <div class="row">
            <div class="col-6 text-primary">
              Average Students Age: 
            </div>
            <div class="col-6">
               <%= school.averagAge %>
            </div>
          </div>
        </li>
        <li class="list-group-item py-1"> 
          <div class="row">
            <div class="col-6 text-primary">
              Average Monthly Incom: 
            </div>
            <div class="col-6">
              <%= school.averageMonthlyIncomPerPerson %> 
            </div>
          </div>
        </li>
        <li class="list-group-item py-1"> 
          <div class="row">
            <div class="col-6 text-primary">
              Email: 
            </div>
            <div class="col-6">
               <%= school.eMail %>
            </div>
          </div>
        </li>
        <li class="list-group-item py-1"> 
          <div class="row">
            <div class="col-6 text-primary">
             provience:
            </div>
            <div class="col-6">
             <%= school.provience %>      
                  </div>
          </div>
        </li>
        <li class="list-group-item py-1"> 
          <div class="row">
            <div class="col-6 text-primary">
           City:   
            </div>
            <div class="col-6">
              <%= school.city %>      
            </div>
          </div>
        </li>
        <li class="list-group-item py-1"> 
          <div class="row">
            <div class="col-6 text-primary">
           district:   
            </div>
            <div class="col-6">
              <%= school.district %>      
            </div>
          </div>
        </li>
         <li class="list-group-item py-1"> 
          <div class="row">
            <div class="col-6 text-primary">
           Village:    
            </div>
            <div class="col-6">
              <%= school.village %>     
            </div>
          </div>
        </li>
        <li class="list-group-item py-1"> 
          <div class="row">
            <div class="col-6 text-primary">
            Street:   
            </div>
            <div class="col-6">
              <%= school.Street %>     
            </div>
          </div>
        </li>
        <li class="list-group-item py-1"> 
          <div class="row">
            <div class="col-6 text-primary">
          number:  
            </div>
            <div class="col-6">
               <%= school.number %>     
            </div>
          </div>
        </li>
        <li class="list-group-item py-1"> 
          <div class="row">
            <div class="col-6 text-primary">
          post Code: 
            </div>
            <div class="col-6">
               <%= school.postCode %>    
                  </div>
          </div>
        </li>
         <li class="list-group-item py-1"> 
          <div class="row">
            <div class="col-6 text-primary">
         Mobile Number:
            </div>
            <div class="col-6">
               <%= school.mobileNumber %>   
                  </div>
          </div>
        </li>
         <li class="list-group-item py-1"> 
          <div class="row">
            <div class="col-6 text-primary">
         Location:
            </div>
            <div class="col-6">
              <% if(school.location) {%> 
                <a href="http:/ <%= school.location %>"> School location</a> 
                 <% } %> 
                  </div>
          </div>
        </li>
         <li class="list-group-item py-1"> 
          <div class="row">
            <div class="col-6 text-primary">
         Registered By:
            </div>
            <div class="col-6">
                 <a href="http:/users/<%= school.creator.id %>"> <%=school.creator.username %>  </a> 
                  </div>
          </div>
        </li>
      
      </ul>
    </div>

    <div class="col-lg-6">
      <div class="school-image border rounded">
        <img class="rounded" src=<%=school.image %> alt="School Image" width="100%"> 

        <% if(school.creator.username){ %> 
        <% if(currentUser && currentUser.username ==school.creator.username ) { %> 
     
        <% if(school.image!== "") {%> 
        <form action="/schoolimagedelete/<%=school._id %>?_method=PUT " method="POST"  >
          <input type="text" name="image" id="image" value="<%=school.image %>" style="display:none" > <br/>
          <button class="btn btn-danger" type="submit">Delete image</button>
        </form>
        <% } else {%>
          <a href="http:/news/<%=school.id %>/addimage " style="color: green;  text-align:center">Add image</a>
     
        <% } %> 
        <% } %> 
      <% } %> 
    </div>
  </div>
</div>

<hr/>


<div class="d-flex justify-content-center">

  <div class="card col-6"; style="text-align:center">
      <br>
      <% if(!currentUser || currentUser.username !=school.creator.username ) { %> 
      <% } else {%> 
        <a href="http:/news/<%=school.id %>/edit " style="background-color: rgb(8, 8, 6); color:white">Edit Information</a><br><br>
        <form action="/deleteconfirm/<%=school._id %>" method="get">
          <button class="btn btn-danger" type="submit">Delete your school</button>
        </form>
      <% } %> <br>
    <h4 class="text-uppercase">friends</h4>
    <h6>Sent and confirmed</h6>
  <% for (let friend of recivedFriendship) {%> 
    <% if( friend.confirmation=="Yes") {%> 
      <ul style="list-style: none;">
        <li><a href="/news/<%=friend.friendshipRequesterSchoolId %>/<%=currentUser.id %>"><%=friend.friendshipRequestersSchoolsName  %></a>  </li>  </ul>
    <% } %> 
    <% } %> 
    <h6>Received to be confirmed</h6>
<% for (let friend of recivedFriendship) {%> 
    <% if( friend.confirmation!="Yes") {%> 
       <% if( currentUser.username ==school.creator.username ) { %> 
      
      <ul style="list-style: none;">
       From : <a href="/news/<%=friend.friendshipRequesterSchoolId %>/<%=currentUser.id %>"> <%=friend.friendshipRequestersSchoolsName%></a> </h3>
          <a href="http:/friendshipconfirm/<%= friend.id  %>/<%= school.id %> "> Confirm</a> <br> 
        </ul>
      <% } %> 
      <% } %> 
  <% } %> 



  <% for (let friend of friendshipReqestSent) {%>  

    <% if(friend.confirmation=="Yes") {%> 
      <ul style="list-style: none;">
        <li><a href="/news/<%= friend.schoolId %>/<%=currentUser.id %>"><%=friend.friendshipRequestedsSchoolsName %></a>  </li>
      </ul>
      
    <% } %> 
    <% } %> 
    <% if( currentUser.username ==school.creator.username ) { %> 
    <h6>Sent and waiting for confirmation</h6>
    <% } %> 
   <% for (let friend of friendshipReqestSent) {%>  
    <% if(friend.confirmation!="Yes") {%> 
      <% if( currentUser.username ==school.creator.username ) { %> 
            <ul style="list-style: none;">
        <li><a href="/news/<%= friend.schoolId %>/<%=currentUser.id %>"><%=friend.friendshipRequestedsSchoolsName %>  </a>  </li>
      </ul>
      <% } %> 
      <% } %> 
  <% } %>

  <% if(isFriendshipRequestSent=="Yes") {%> 
      you have already sent friendship request to this school!
    <%if(ifYouAreAlreadyFriends=="Yes"){%>
      and you are already friends
    <% } %> 
      <% if(haveYoureceivedFriendRequsestFromThisSchool=="Yes"){ %> 
        You are already friends
      <% } %> 
    <% } else {%>
      <%if(haveYoureceivedFriendRequsestFromThisSchool!="Yes"){  %> 
        <% if(currentUser.username !=school.creator.username ) { %> 

           <%  if(haveYoureceivedFriendRequsestFromThisSchoolNotConfirmed == "Yes"){ %> 
         
           Yoy have Yreceived Friend Requsest From This School But Not Confirmed Yet
              <% for (let friend of friendshipReqestSent) {%>  
                <% if( friend.friendshipRequesterSchoolId==school.id && friend.userIdWhichReceivedFriendshipRequest==currentUser.id ){ %> 
             <a href="http:/friendshipconfirm/<%= friend.id%>/<%=friend.schoolId %>   "> Confirm</a> <br> 
           <% } %> 
           <% } %> 

            <%  }else{ %>      
          <a href="/requestfriendship/<%= school.id %>">Request Friendship with this School</a>
         
        <% } %> 
        <% } %> 
      <% } %> 
    <% } %> 
 

    <% if(haveYoureceivedFriendRequsestFromThisSchool=="Yes"){ %> 
      You are already friends
    <% } %> 
 <br>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

 


