 <% layout('layout/boilerplate') %> 

 <ul>
<li> Schools name: <%= school.schoolsname %> </li>

<li>Number Of Poor People: <%= school.numberOfStudents %> </li>
<li>Gender of students : <%= school.gender %> </li>
<li>Average Monthly parents Incom: <%= school.averageMonthlyIncomPerPerson %> </li>
<li> provience: <%= school.provience %> </li>
<li> City: <%= school.city %> </li>
<li> district: <%= school.district %> </li>
<li> Village: <%= school.village %> </li>
<li> Street: <%= school.Street %> </li>
<li> number: <%= school.number %> </li>
<li> postCode: <%= school.postCode %> </li>
<li> Mobile Number: <%= school.mobileNumber %> </li>

<li> Location: <%= school.location %> </li>

  


<img src=<%=school.image %> alt="School Image" width="100%"> 