<% layout('layout/boilerplate') %> 

<ul>
<li> Schools name: <%= school.schoolsname %> </li>

<li>Number Of Poor People: <%= school.numberOfStudents %> </li>
<li>Gender of students : <%= school.gender %> </li>
<li>Average Monthly parents Incom: <%= school.averageMonthlyIncomPerPerson %> </li>
<li> provience: <%= school.provience %> </li>
<li> City: <%= school.city %> </li>
<li> district: <%= school.district %> </li>
<li> Village: <%= school.village %> </li>
<li> Street: <%= school.Street %> </li>
<li> number: <%= school.number %> </li>
<li> postCode: <%= school.postCode %> </li>
<li> Mobile Number: <%= school.mobileNumber %> </li>

<li> Location: <%= school.location %> </li>

  


<img src=<%=school.image %> alt="School Image" width="100%"> 

<% if(currentUser && currentUser.username ==school.creator.username ) { %> 

<form action="/schoolimagedelete/<%= school._id%>" method="get">

  <input type="text" name="image" id="image" value="<%=school.image %>" style="display:none" > <br/>
  <button class="btn btn-danger" type="submit">Delete image</button>
</form>
<% } %>  <br>
<h3>Friendship</h3>

<% if(currentUser && currentUser.username==school.creator.username) {%>

<% for (let f of friendships.reverse()){ %> 

 
   By : <a href="/users/<%=f.friendrequesterid %>/<%=currentUser.id%>/school">  <%=f.friendshipRequestersSchoolsName  %>    </a> </h3>
   
  
        <%if(f.confirmation!="Yes") { %>  
     <a href="http:/friendshipconfirm/<%= f.id  %>/<%= school.id %> ">Confirm</a> <br>
          
   <% } else{%> 
  <h2>Confirmed</h2>
    <% } %> 
<% } %> 

 
<% } %> 

</ul>
 

<% if(!currentUser || currentUser.username !=school.creator.username ) { %> 

<br/>
  <br/><a href="http:/users/<%= school.creator.id %>"> Creator</a><br/><br/>

  

 <% } else {%> 
  
  <a href="http:/news/<%=school.id %>/edit ">Edit Information</a>

<br/> <br/>


<form action="/deleteconfirm/<%=school._id %>" method="get">
  

  <button type="submit">delete</button>

  </form> <br>

   <% } %> 


<% if(friendRequesterID !== undefined && currentUser.id === friendRequesterID &&currentUser.id !=school.creator.id ) { %> 
  <h4>You have already sent friendship request to this school</h4>
 
<%} else {%> 


  <% if( currentUser.id != school.creator.id){ %> 
    <% for (let friend of allFriendships) {%> 

    <% } %> 
  <a href="/requestfriendship/<%= school.id %>">Request Friendship with this School</a>
  <% } %> 
<% } %>

<br>
<br>
<% for(let friend of allFriendships) {%>  <br>
  <%=currentUser.id %> <br>
 current user Id <%=friend.friendRequesterID %> <br>
  <%=friend.confirmation %> 
  <% if(currentUser.id === friend.friendRequesterID&& friend.confirmation==="Yes" && friend.schoolId ==school.id ){ %> 
  <h4>  And you are friend</h4>
 
    <% } %> 
  <% } %>