<% layout('layout/boilerplate') %> 

<main class="card"; style="text-align:center">
 <h1>Here is the user page of: <%= user.name %>! </h1>
 Email: <%= user.username %> <br>
 Name: <%= user.name %> <br>
 
  School:
  <% for(let sch of school) {%> 
 <% if(!sch){ %> 
<a href="/newones">Register a School </a> <br/>
 
     <% } %>  
 <h2><a href="/news/<%= sch.id %>/<%=currentUser.id %> "><%= sch.schoolsname %></a></h2>
<% } %> 
 
<br>
 
<% if(currentUser && currentUser.username == user.username ) { %> 



<a href="/users/edit/<%=currentUser.id %>">Edit my Personal Information</a></a><br>

<form action="/deleteuser/<%= currentUser.id %>   " method="get">
  <br>
<button  class="btn btn-danger" type="submit">ÙDelete your Account</button>

  </form>
<br><br>

<% if(!currentUser.activated) { %> 
<br>

 <h4>You have not activated your account yet</h4>
 <h4>Please login to your Email and activate your account</h4>
<% } %> 
<% } %> 

</main>