 <% layout('layout/boilerplate') %> 

 <div style="text-align:center">

 
  <form action="/dialogue/<%=text._id %>?_method=PUT " method="POST" >
 

 <label for="title">Title:</label> <br>
<input type="text" name="title" id="title" value="<%=text.title %> ">

 <label for="text">Text:</label> <br>
 
<textarea  id="text" name="text" rows="15" cols="66"> <%=text.text%>

</textarea>
<br>
<button type="submit" class="btn btn-success">Save Edit</button>
</form>
</div>
<!-- <div class="container-fluid">
<br/><br/>
<form action="/alltext/<%=text._id %>?_method=PUT " method="POST" >
<label for="title">موضوع</label> 
  <input textarea name="title" id="title"  cols="70" rows="1" ></input><br/> <br/>

 

<label for="text">متن</label> <br/>
  <textarea name="text" id="text" cols="70" rows="10"  ><%=text.text%></textarea><br/> <br/>
   <button type="submit" class="btn btn-success">ثبت ویرایش</button> <br><br>
</form>

  </div>
   -->